@media (max-width: 900px) {
  main {
    grid-template-areas:
      "header"
      "product"
      "contact"
      "button" !important;
    aside {
      width: 90% !important;
      left: 0 !important;

      height: 95% !important;

      .product {
        .quantity-controller {
          width: 45% !important;
          height: 40px;
          button {
            margin: 6px 0 !important;
          }
        }
      }
    }
  }
  .continue {
    width: 35% !important;
  }
}
@media (max-width: 600px) {
  .basket {
    .product {
      .quantity-controller {
        width: 70% !important;
        height: 35px;
        button {
          margin: 6px 0 !important;
        }
      }
    }
  }
}
